<div class="container">
  <%= link_to "< Back", :back %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% case @issue.status.downcase %>
      <% when "active" %>
        <div class="alert alert-success form-control form-fresh text-center">
          <p>Active</p>
        </div>
      <% when "closed" %>
        <div class="alert alert-danger form-control form-fresh text-center">
          <p>Closed</p>
        </div>
      <% end %>
      <%= form_for [current_user, @issue], url: {action: "update"}, html: {method: "patch"} do |f| %>
        <%= f.text_field :subject, placeholder: "Subject", class: "form-control form-fresh" %>
        <%= f.text_field :priority, placeholder: "Priority", class: "form-control form-fresh" %>
        <%= f.text_area :description, placeholder: "Description", class: "form-control textarea-fresh" %>
        <%= f.submit "Update Issue", class: "btn-fresh form-control" %>
      <% end %>
    </div>
  </div>
</div>