<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "+ Create an Issue", new_user_issue_path(current_user), class: "btn btn-lg form-control btn-fresh"  %>
      <!-- <div class="btn btn-lg form-control btn-fresh">
        &gt; View All Issues
      </div> -->
    </div>
  </div>
  <br><br> <!-- take line breaks out!!! -->
  <div class="row">
    <div class="col-lg-12">
      <div class="all-issues-container">
      <br><br><br><br> <!-- take line breaks out!!! -->
        <table class="table">
          <thead>
            <tr>
              <th>ID:</th>
              <th>Date:</th>
              <th>Priority:</th>
              <th>Subject:</th>
              <th>Description:</th>
              <th>Status:</th>
            </tr>
          </thead>
          <tbody>
            <% @issues.each do |issue| %>
              <tr data-link="<%= edit_user_issue_path(current_user, issue)%>">
                <td>
                  <div class="issue">
                    <%= issue.id %>
                  </div>
                </td>
                <td>
                  <div class="issue">
                    <%= issue.created_at.to_s(:long) %>
                  </div>
                </td>
                <td>
                  <div class="issue">
                    <%= issue.priority %>
                  </div>
                </td>
                <td>
                  <div class="issue">
                    <%= issue.subject %>
                  </div>
                </td>
                <td>
                  <div class="issue">
                    <%= issue.description %>
                  </div>
                </td>
                <td>
                  <div class="issue">
                    <%= issue.status %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- end all-issues-container -->
    </div> <!-- end column -->
  </div> <!-- end row -->
</div> <!-- end container -->
