<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "+ Create an Issue", new_user_issue_path(current_user), class: "btn btn-lg form-control btn-fresh"  %>
      <!-- <div class="btn btn-lg form-control btn-fresh">
        &gt; View All Issues
      </div> -->
    </div>
  </div>
  <br><br> <!-- take line breaks out!!! -->
  <div class="row">
    <div class="col-lg-12">
      <div class="all-issues-container">
        <table class="table table-striped alert alert-info">
          <tr>
            <th>ID:</th>
            <th>Date:</th>
            <th>Priority:</th>
            <th>Subject:</th>
            <th>Description:</th>
            <th>Status:</th>
            <th>Action:</th>
          </tr>
          <% @issues.each do |issue| %>
            <tr data-link="<%= edit_user_issue_path(current_user, issue)%>">
              <div class="single-issue-container">
                <td>
                  <div class="issue-id">
                    <%= issue.id %>
                  </div>
                </td>
                <td>
                  <div class="issue-date">
                    <%= issue.created_at.to_s(:long) %>
                  </div>
                </td>
                <td>
                  <div class="issue-priority">
                    <%= issue.priority %>
                  </div>
                </td>
                <td>
                  <div class="issue-subject">
                    <%= issue.subject %>
                  </div>
                </td>
                <td>
                  <div class="issue-description">
                    <%= issue.description %>
                  </div>
                </td>
                <td>
                  <div class="issue-status">
                    <%= issue.status %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= link_to "Update", edit_user_issue_path(current_user, issue) %>
                  </div>
                </td>
                <br><br> <!-- take line breaks out!!! -->
              </div>
            </tr>
          <% end %>
        </table>
      </div> <!-- end all-issues-container -->
    </div> <!-- end column -->
  </div> <!-- end row -->
</div> <!-- end container -->
