<div class="container">
  <%= link_to "< Back", :back %>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <% case @issue.status.downcase %>
      <% when "active" %>
        <div class="alert alert-success form-control form-fresh text-center">
          <p>Active</p>
        </div>
      <% when "closed" %>
        <div class="alert alert-danger form-control form-fresh text-center">
          <p>Closed</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row issue-info">
    <div class="col-lg-10 col-lg-offset-1">
      <h4><strong>SUBJECT:</strong> <%= @issue.subject %></h4>
      <h4><strong>DATE:</strong> <%= @issue.created_at.to_s(:long) %></h4>
      <h4><strong>ISSUE ID:</strong> <%= @issue.id %></h4>
      <h4><strong>PRIORITY:</strong> <%= @issue.priority %></h4>
      <h4><strong>DESCRIPTION:</strong> <%= @issue.description %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Edit Issue", edit_user_issue_path(current_user, @issue), class: "btn btn-lg form-control btn-fresh" %>
      <%= link_to "Issue Log", user_issue_entries_path(current_user, @issue), class: "btn btn-lg form-control btn-fresh" %>
    </div>
  </div>
</div>