<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="page-header">
        <%= render 'shared/navigation' %>
      </div>

      <div id="page-content">
        <%= render 'shared/swal' %>
        <%# if notice %>
          <!-- <div class="notice alert alert-info text-center"><%= notice %></div> -->
          <!-- <div class="alert alert-succes text-center"><%= alert %></div> -->
        <%# end %>
        <%= yield %>
      </div>

      <div id="page-footer">
        <%= render 'shared/footer' %>
      </div>

    </div>
  </body>
</html>